@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap')
  
*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none
  display: inline-block
  color: inherit

ul
  list-style: none

img
  display: block
  max-width: 100%

svg
  display: block

.App
  min-height: 100vh

body
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 14px