@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap')
  
*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none
  display: inline-block
  color: inherit

ul
  list-style: none

img
  display: block
  max-width: 100%

svg
  display: block

.App
  min-height: 100vh

body
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 14px

.main
  margin: 0 0 0 60px

input,
textarea,
button
  font-family: inherit
  border: none

.btn
  padding: 10px 20px
  text-align: center
  background-color: #5C60F5
  color: #fff
  font-size: 18px
  border-radius: 8px
  border: 2px solid transparent
  transition: .3s
  cursor: pointer
  font-weight: 600
  &:hover
    border: 2px solid #5C60F5
    color: #5C60F5
    background: #fff

h1
  font-size: 48px

h2
  font-size: 36px