.modal
  position: fixed
  inset: 50% 0 0 50%
  transform: translate(-50%, -50%)
  z-index: 1
  background-color: #fff
  padding: 25px 15px
  border-radius: 14px
  max-width: 450px
  max-height: 400px
  &__title
    margin: 0 0 25px
    font-size: 24px
    text-align: center
  &__users
    max-width: 400px
    margin: 0 auto
    &-item
      display: flex
      justify-content: flex-start
      align-items: center
      gap: 0 20px
      padding: 10px 0
      border-bottom: 1px solid #777C88
      cursor: pointer
      &:not(:last-child)
        margin: 0 0 10px
    &-image
      width: 60px
      height: 60px
      border-radius: 50%
      object-fit: cover
    &-name
      font-size: 16px
      font-weight: 600
  &__wrapper
    position: fixed
    inset: 0 auto auto 0
    width: 100%
    height: 100%
    background-color: rgba(#000, .6)