.profile
  padding: 30px 0
  min-height: calc(var(--app-height) - 65px)
  transition: background-color .3s
  &.dark
    background-color: #17181F
    color: #fff
  &__title
    text-align: center
    margin: 0 0 35px
  &__columns
    display: grid
    grid-template-columns: repeat(2, minmax(350px, 1fr))
    gap: 0 30px
  &__column
    &-title
      margin: 0 0 20px
      font-size: 24px

@media (max-width: 1100px)
  .profile
    &__columns
      grid-template-columns:  minmax(100%, 1fr)
      gap: 30px 0
      padding: 0 35px

@media (max-width: 580px)
  .profile
    &__title
      margin: 0 0 20px

@media (max-width: 480px)
  .profile
    &__title
      margin: 0 0 15px
    &__columns
      padding: 0
      gap: 20px 0
    &__column
      &-title
        margin: 0 0 10px
        font-size: 22px