.profile
  padding: 30px 0
  min-height: calc(100vh - 75px)
  transition: background-color .3s
  &.dark
    background-color: #17181F
    color: #fff
  &__title
    text-align: center
    margin: 0 0 35px
  &__columns
    display: grid
    grid-template-columns: repeat(2, minmax(350px, 1fr))
    gap: 0 30px
  &__column
    &-title
      margin: 0 0 20px
      font-size: 24px