.chats
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: 0 15px
  padding: 10px 15px
  transition: background-color .3s
  min-height: calc(100vh - 65px)
  position: relative
  &.dark
    background-color: #17181F
    color: #fff
    .chats__item
      background-color: #17181F
  &__wrapper
    margin: 15vh 0 0
    text-align: center
  &__title
    margin: 0 0 25px
  &__item
    border: 1.5px solid #b8b7b9
    border-radius: 8px
    max-height: 90vh
    background-color: #fff
  &__left
    &-top
      display: flex
      justify-content: flex-end
      align-items: center
      position: relative
      padding: 15px 15px 10px
      &::before
        content: ''
        position: absolute
        inset: auto auto 0 0
        width: 100%
        height: 1px
        background-color: #b8b7b9
    &-btn
      background: none
      border: none
    &-icon
      cursor: pointer
  &__list
    max-height: calc(100vh - 150px)
    height: 100%
    overflow: hidden
    overflow-y: auto
  &__view
    display: flex
    padding: 5px 10px 10px
    justify-content: space-between
    flex-direction: column
    max-height: 90vh
    position: relative
    &.center
      justify-content: center
      align-items: center
    &-text
      font-size: 16px
    &-span
      color: #2b84e9
      cursor: pointer
    &-top
      display: flex
      justify-content: space-between
      align-items: center
      border-bottom: 1px solid #b2b2b2
      padding: 0 0 5px
    &-back
      display: flex
      align-items: center
      background: none
      border: none
      color: #b2b2b2
      cursor: pointer
    &-chat
      &_icon
        width: 40px
        height: 40px
        border-radius: 50%
        object-fit: cover
    &-name
      font-size: 16px
      font-weight: bold
    &-content
      flex-grow: 1
      display: flex
      flex-direction: column
      justify-content: flex-end
      gap: 4px 0
      padding: 0 5px 10px 0
      &_wrapper
        overflow: hidden
        overflow-y: auto
        margin: auto 0 0
    &-message
      color: #fff
      border-radius: 4px
      background-color: #2b2e31
      display: inline-block
      align-self: flex-start
      padding: 4px 20px 4px 8px
      max-width: 65%
      position: relative
      &_my
        align-self: flex-end
      &_read
        position: absolute
        display: block
        inset: auto 2px 2px auto
        width: 14px
        height: 14px
    &-description
      font-size: 16px
      position: absolute
      inset: 50% auto auto 50%
      transform: translate(-50%, -50%)
  &__filter
    padding: 0 0 0 24px
    background-image: url("../../../assets/images/icons/search.svg")
    background-position: center left
    background-size: contain
    background-repeat: no-repeat
    border: none
    font-size: 14px
    flex-grow: 1
    margin: 0 50px 0 0
    outline: none

@media (max-width: 1100px)
  .chats
    grid-template-columns: 1fr
    grid-template-rows: 1fr
    &__item
      height: 100%
      min-height: calc(100vh - 100px)
    &__right
      position: absolute
      inset: 10px 15px 0
      width: calc(100% - 30px)
      height: calc(100% + 10px)
      transform: translate(0, 110%)
      transition: .4s
      z-index: 1
      &.active
        transform: translate(0)

@media (max-width: 768px)
  .chats
    &__left
      &-top
        padding: 10px

@media (max-width: 480px)
  .chats
    padding: 0px 15px 10px
    &__left
      &-top
        padding: 5px
    &__right
      inset: 0 15px 0
    &__view
      &-back
        font-size: 13px
        &_icon
          width: 18px
          height: 18px
      &-name
        font-size: 14px
      &-chat_icon
        width: 35px
        height: 35px