.chats
  &__list
    &-item
      padding: 10px 45px 10px 15px
      display: flex
      align-items: center
      justify-content: space-between
      gap: 0 40px
      cursor: pointer
      position: relative
      &::before
        content: ''
        position: absolute
        left: 0
        bottom: 0
        width: calc(100% - 30px)
        transform: translate(15px, 0)
        height: 1px
        background-color: #b8b7b9
      &_left
        display: flex
        align-items: center
        gap: 0 15px
    &-image
      position: relative
    &-avatar
      border-radius: 50%
      object-fit: cover
      width: 60px
      height: 60px
    &-online
      position: absolute
      inset: auto 5px 5px auto
      width: 8px
      height: 8px
      background-color: #2b84e9
      border-radius: 50%
    &-info
      flex-grow: 1
    &-name
      font-size: 16px
      font-weight: bold
    &-message
      margin: 4px 0 0
    &-count
      display: inline-block
      padding: 2px 8px
      border-radius: 20px
      background-color: #2b84e9
      color: #fff
      font-size: 14px
      font-weight: 600

@media (max-width: 768px)
  .chats
    &__list
      &-item
        padding: 10px 35px 10px 15px

@media (max-width: 480px)
  .chats
    &__list
      &-item
        padding: 10px 8px
        &::before
          width: calc(100% - 16px)
          transform: translate(8px, 0)
      &-avatar
        width: 45px
        height: 45px
      &-online
        inset: auto 3px 3px auto
      &-name
        font-size: 14px
      &-message
        margin: 2px 0 0
