.sidebar
  position: fixed
  inset: 0 auto 0 0
  width: 60px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  margin: 65px 0 0
  padding: 25px 15px
  transition: .3s
  &.dark
    background-color: #17181F
  &__menu
    display: flex
    flex-direction: column
    gap: 25px 0
    margin: 200px 0 0

@media (max-width: 768px)
  .sidebar
    display: none