.header
  padding: 10px 25px
  transition: .3s
  position: fixed
  inset: 0 0 auto
  z-index: 2
  &.dark
    background: #17181F
    color: #fff
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
  &__logo
    margin: 0 100px 0 0
  &__user
    display: flex
    align-items: center
    &-image
      margin: 0 20px 0 0
      display: flex
      justify-content: center
      align-items: center
    &-avatar
      width: 45px
      height: 45px
      border-radius: 50%
    &-name
      font-size: 20px

@media (max-width: 768px)
  .header
    padding: 10px 15px

@media (max-width: 580px)
  .header
    &__user
      &-info
        display: none

@media (max-width: 480px)
  .header
    &__logo
      margin: 0 20px 0 0
    &__user
      &-image
        margin: 0 10px 0 0
