.personal
  padding: 20px
  border: 1.5px solid #b8b7b9
  border-radius: 12px
  &__label
    &:not(:last-of-type)
      margin: 0 0 15px
    &-text
      font-size: 16px
      color: #777C88
      display: block
      margin: 0 0 10px
  &__input
    padding: 10px 14px
    font-size: 20px
    color: #777C88
    width: 100%
    border: 1.5px solid #b8b7b9
    border-radius: 8px
  &__btn
    margin: 15px 0 0
  &__error
    color: red